<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>

    <header class="d-flex w-100 border-bottom bg-primary p-3 text-white">
        <img class="align-content-center" alt="Blog logo" src="">
        <p class="ms-3 align-content-center">Blog Name</p>
        <a class="text-white ms-5 border-start ps-2 align-content-center" th:href="@{/}">Accueil</a>
    </header>


    <footer class="w-100 text-center bg-black text-white align-items-center py-3 border-top sticky-bottom">
      Copyright : Exam Thymeleaf Aurélien
    </footer>

</body>
</html>